@media (min-width: 576px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
  
}

@media (max-width: 1199px){
  :root {
    --fs-default: 14rem;
    --fs-1: 52rem;
    --fs-2: 32rem;
    --fs-3: 19rem;
    --fs-4: 17rem;
    --fs-5: 15rem;
    --fs-6: 14rem;
    --fs-7: 12rem;

    --gap: 20rem;
    --gap-: -20rem;
  }
  .header__toggle {
    background: 0 0;
    width: 20rem;
    height: 9rem;
    padding: 6rem 0;
    display: block;
    font-size: 0;
    color: var(--color-white);
    outline: 0;
    border: none;
    border-radius: 0;
    flex-shrink: 0;
    position: relative;
  }
  .header__toggle span {
    background: currentColor;
    width: 20rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 2rem;
    transition: all .4s;
  }
  .header__toggle span:nth-child(1) {
    transform: translateY(-3rem);
  }
  .header__toggle span:nth-child(2) {
  }
  .header__toggle span:nth-child(3) {
    transform: translateY(3rem);
    max-width: 50%;
  }
  .header__dropdown {
    background: var(--color-blue);
    width: 100%;
    height: 100%;
    padding: 120rem var(--gap) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .4s;
    transition-property: transform, opacity, visibility;
    z-index: -1;
  }
  body:not(.is-menu-show) .header__dropdown {
    transform: translateX(-100vw);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  body.is-menu-show {
    overflow: hidden;
  }
  body.is-menu-show .header__toggle span:nth-child(1) {
    transform: translateY(50%) rotate(-45deg);
  }
  body.is-menu-show .header__toggle span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  body.is-menu-show .header__toggle span:nth-child(3) {
    transform: translateY(50%) rotate(45deg);
  }
  .header {
    padding: 8rem 0;
  }
  .header__logo {
    max-width: 95rem;
    flex-basis: 95rem;
    height: 25rem;
  }
  
}

@media (max-width: 767px){
  :root {
    --fs-1: 24rem;
    --fs-2: 18rem;
  }
  .btn--size-md {
      --btn-padding-x: 32rem;
  }
  
}

@media (max-width: 575px){
  
}

@media (max-width: 480px){
}