@media (min-width: 576px){
    
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
  
}

@media (max-width: 1199px){
  :root {
    --fs-default: 14rem;
    --fs-1: 52rem;
    --fs-2: 32rem;
    --fs-3: 19rem;
    --fs-4: 17rem;
    --fs-5: 15rem;
    --fs-6: 14rem;
    --fs-7: 12rem;

    --gap: 10rem;
    --gap-: -10rem;
  }
  .container {}
  .dropdown-close {
    background: transparent;
    width: 15rem;
    height: 15rem;
    display: block;
    font-size: 0;
    color: var(--color-white);
    outline: 0;
    border: none;
    border-radius: 0;
    flex-shrink: 0;
    position: relative;
  }
  .dropdown-close:after {
    content: '';
    position: absolute;
    top: -4rem;
    bottom: -4rem;
    left: -4rem;
    right: -4rem;
  }

  .dropdown-close span {
    background: var(--color-black);
    width: 20rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: rotate(0) translate(-50% -50%);
    border-radius: 2rem;
    transition: all .4s;
  }
  .dropdown-close span:nth-child(1) {
    transform: rotate(45deg);
  }
  .dropdown-close span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header__toggle {
    background: transparent;
    width: 20rem;
    height: 9rem;
    padding: 6rem 0;
    display: block;
    font-size: 0;
    color: var(--color-white);
    outline: 0;
    border: none;
    border-radius: 0;
    flex-shrink: 0;
    position: relative;
  }
  .header__toggle span {
    background: var(--color-black);
    width: 20rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 2rem;
    transition: all .4s;
  }
  .header__toggle span:nth-child(1) {
    transform: translateY(-3rem);
  }
  .header__toggle span:nth-child(2) {
  }
  .header__toggle span:nth-child(3) {
    transform: translateY(3rem);
    max-width: 50%;
  }
  .header__dropdown-mb {
    padding: 8rem;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 41rem);
    min-height: 320rem;
    visibility: visible;
    opacity: 1;
    z-index: 10000;
  }
  .header__nav {
    padding-top: 32rem;
    height: 100%;
  }
  body:not(.is-menu-show) .header__dropdown {
    transform: translateX(-100vw);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
  body.is-menu-show {
    overflow: hidden;
  }
  body.is-menu-show .header__toggle span:nth-child(1) {
    transform: translateY(50%) rotate(-45deg);
  }
  body.is-menu-show .header__toggle span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  body.is-menu-show .header__toggle span:nth-child(3) {
    transform: translateY(50%) rotate(45deg);
  }
  .header {
    height: 41rem;
    padding: 8rem 10rem;
  }
  .header__mob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 41rem;
    padding: 8rem;
  }
  .header__container {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .header__logo {
    max-width: 95rem;
    flex-basis: 95rem;
    height: 25rem;
  }
  .mb-none {
    display: none;
  }

  .header__dropdown-mb .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }
  
}

@media (max-width: 767px){
  :root {
    --fs-1: 24rem;
    --fs-2: 18rem;
  }
  .btn--size-md {
      --btn-padding-x: 32rem;
  }
  
}

@media (max-width: 575px){
  
}

@media (max-width: 480px){
}