
/* root
=====================*/

:root {
    --fs-default: 16rem;
    --fs-1: 64rem;
    --fs-2: 36rem;
    --fs-3: 24rem;
    --fs-4: 22rem;
    --fs-5: 18rem;
    --fs-6: 16rem;
    --fs-7: 14rem;
    --fs-8: 12rem;

    --gap: 20rem;
    --gap-: -20rem;

    --offset: 10rem;
    --offset-: -10rem;

    --color-accent: #DA1F39;
    --color-black: #000;
    --color-white: #fff;


    --ff: Dela Gothic One, sans-serif;
}

/* fonts
=====================*/

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

html,
body {
    height: 100%;
}

html {
    font-size: 1px;
}

body {
    font-style: normal;
    background: var(--color-white-dark);
    font-weight: normal;
    font-size: var(--fs-default);
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  height: 12px;
  width: 10rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #808080;
  width: 10rem;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 10rem;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  width: 10rem;
}

a {
    color: var(--black, #000);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: inherit;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
}

input,
button,
select,
textarea,
.btn {
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    color: inherit;
}

input,
button {
    margin: 0;
    padding: 0;
    appearance: none;
}

svg,
.u-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    color: inherit;
}

picture,
time {
    display: block;
}

body.is-menu-show {
    overflow: hidden;
}

body.lock .header__dropdown-mb {
}

body.is-menu-show .site__header .toggles__toggle:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}

body.is-menu-show .site__header .toggles__toggle:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

body.is-menu-show .site__header .toggles__toggle:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}

body.is-menu-show .header {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

body.is-menu-show .header__dropdown-mb {
    top: 0;
    left: 0;
}


/* typography
=====================*/

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title-size-1,
.title-size-2,
.title-size-3,
.title-size-4,
.title-size-5,
.title-size-6 {
    font-family: 'Dela Gothic One', sans-serif;
    margin: 0;
    font-weight: bold;
    color: var(--color-black);
}

h1,
.title-size-1 {
    font-size: var(--fs-1);
    line-height: 112.3%;
}

h2,
.title-size-2 {
    font-size: var(--fs-2);
    line-height: 1.4;
}

h3,
.title-size-3 {
    font-size: var(--fs-3);
}

h4,
.title-size-4 {
    font-size: var(--fs-4);
}

h5,
.title-size-5 {
    font-size: var(--fs-5);
}

h6,
.title-size-6 {
    font-size: var(--fs-6);
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px!important;
    height: 1px!important;
    margin: -1px!important;
    padding: 0!important;
    position: absolute!important;
    border: 0!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    overflow: hidden!important;
}

/* row
=====================*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0  var(--offset-);
}

.row__col {
    min-height: 1px;
    padding: 0 var(--offset);
}

.row__col--3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.row__col--4 {
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
}

.row__col--5 {
    flex: 0 0 41.666666%;
    max-width: 41.666666%;
}

.row__col--6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.row__col--7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.row__col--8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
}

.row__col--12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* components
=====================*/

#site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.site {
}

.site__header {
}

.site__main {
    width: 100%;
    max-width: 1580rem;
    margin: 0 auto;
    padding: 0 var(--gap);
    flex-grow: 1;
}

.site__footer {
}

.container {
    width: 100%;
    max-width: 1320rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.one-page {
    align-self: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1440rem;
    height: 7264rem;
    margin: 0 auto;
}

.one-page picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.one-page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-box {
    padding: 15rem 0;
}

.u-box__inner {
    background: var(--color-white);
    padding: var(--gap) 0;
    border-radius: 20rem;
}

.btn {
    min-height: var(--btn-height);
    padding: var(--btn-padding-y) var(--btn-padding-x);
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: inherit;
    font-size: var(--fs-default);
    line-height: 1.4;
    font-family: inherit;
    text-align: center;
    text-transform: none;
    border: none;
    border-radius: 0;
    outline: none;
    user-select: none;
    transition: all .4s;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.btn:hover {
    background: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
}

.btn.disabled,
.btn:disabled {
    opacity: .6;
    pointer-events: none;
}

.btn--size-md {
    --btn-height: 54rem;
    --btn-padding-x: 49rem;
    --btn-padding-y: 14rem;
    --btn-font-size: var(--fs-default);
}

.btn--theme_default {
    font-size: var(--fs-default);
    border: 1rem solid var(--color-blue);
    background: var(--color-white);
    color: var(--color-blue);
    border-radius: 50rem;
}

.btn--theme_default:hover {
}

.btn--theme_gray {
    font-size: var(--fs-7);
    border-radius: 10rem;
    background: transparent;
    padding: 4rem 8rem;
    border: 1rem solid var(--color-gray);
}

.btn__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    pointer-events: none;
    z-index: 1;
}

.btn__title {
}

.logo {
    display: block;
    font-size: 0;
    line-height: 0;
    transition: opacity .4s;
}

.logo:hover {
    opacity: .7;
}

.logo__picture {
    display: inline-flex;
    align-items: center;
}

.logo__img {
    display: block;
    width: 100%;
    height: auto;
}

.nav {
    display: block;
    margin: 0;
    padding: 0;
}

.nav__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav__item {
    padding: 0;
    position: relative;
}

.nav__item:not(:last-child) {
    margin-right: 30rem;
}

.nav__link {
    white-space: nowrap;
    font-weight: normal;
    color: var(--color-black);
    transition: color .3s;
}

.nav__link:after {
    content: '';
    position: absolute;
    top: -10rem;
    left: -10rem;
    bottom: -10rem;
    right: -10rem;
}

.nav__link:hover {
    color: var(--color-accent);
    text-decoration: none;
}

.img-cover {
    position: relative;
    overflow: hidden;
}

.img-cover > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.switch {

}

.switch__select {
    color: var(--color-black);
    border: none;
    outline: none;
    padding: 0;
    font-size: inherit;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.switch__select:focus {
    outline: none;
    border: 1px solid transparent;
}

.switch__select:focus option {
    outline: none;
    border: 1px solid transparent;
}
.select-box {
    width: 36rem;
    position: relative;
    display: block;
    font-size: 18px;
    color: var(--color-black);
    z-index: 8000;
}

 .select-box:hover .select-box__input-text {
    color: var(--color-accent);
 }

.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
}

.select-box:hover .select-box__icon,
.select-box__current:hover .select-box__icon {
     fill: var(--color-accent);
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    animation-name: none;
}

.select-box__current:focus .select-box__icon {
    transform: translate(-50%,-50%) rotate(180deg);
}

.select-box__icon {
    display: inline-block;
    color: inherit;
    fill: currentColor;
    flex-shrink: 0;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: calc(100% + -4rem);
    transform: translate(-50%,-50%);
    width: 14rem;
    height: 14rem;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    width: 100%;
    font-size: 16rem;
    margin: 0;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% + 13rem);
    padding: 0;
    background-color: #fff;
    top: 100%;
    left: -4rem;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
}

.select-box__list li {
    padding: 6rem 4rem 6rem 4rem;
    position: relative;
}

.select-box__list li:hover:after {
    transform: scaleX(1);
}

.select-box__list li:after {
    transition: all .2s;
    transform: scaleX(0);
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 1rem;
    width: 100%;
    background-color: var(--color-accent);
}

.select-box__option {
    font-size: inherit;
    background-color: #fff;
    transition: all .2s;
}

.select-box__option:hover,
.select-box__option:focus {
    color: var(--color-accent);
    background-color: #fff;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.form-search {
    display: flex;
    align-items: center;
    font-size: var(--fs-default);
    position: relative;
    overflow: hidden;
}

.form-search__input {
    background-color: var(--color-white);
    transform: scaleY(0);
    position: absolute;
    top: 0;
    right: 0;
    padding: 6rem 20rem 6rem 10rem;
    margin-right: 18rem;
    outline: none;
    cursor: pointer;
    transition: all .2s;
    border: none;
    border-bottom: 1rem solid var(--color-black);
}

.form-search__input.show {
    transform: scaleY(1);
    position: relative;
}

.form-search__input:hover {
    border-bottom-color: var(--color-black);
}

.form-search__input:focus {
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.2);
    background-color: var(--color-gray);
}

.form-search__input:placeholder {
    font-size: var(--fs-default);
}

.form-search__btn {
    background-color: var(--color-white);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    width: 25rem;
    height: 25rem;
    margin-bottom: 6rem;
}

.form-search__btn:after {
    content: '';
    position: absolute;
    top: -10rem;
    left: -10rem;
    right: -10rem;
    bottom: -10rem;
}

.form-search__icon {
    fill: var(--color-black);
    display: block;
    width: 24rem;
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-search__btn:hover .form-search__icon {
    fill: var(--color-accent);
}

#searchResults {
}

.basket {
}

.basket__btn {
    display: block;
    height: 25rem;
    width: 25rem;
    position: relative;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.basket__btn:hover .basket__icon {
    fill: var(--color-accent);
}

.basket__icon {
    fill: var(--color-black);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -4px;
    left: 0;
    transition: all .4s;
}

.basket__marker {
    text-align: center;
    position: absolute;
    background-color: var(--color-accent);
    color: var(--color-white);
    bottom: 4px;
    right: 1px;
    height: 10rem;
    width: 10rem;
    font-size: 8rem;
    line-height: 10rem;
    border-radius: 50%;
}

.dropdown {
    transform: scaleY(0) translateX(-50%);
    transition: all .4s;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    align-self: center;
    margin: 0 auto;
    padding-bottom: 42rem;
}

.dropdown__container {
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

.dropdown:after {
    background-color: var(--color-white);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.dropdown .show {
    transform: scaleY(1);
}

.header__dropdown-mb {}

.dropdown__nav {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30rem 0 12rem;
}

.main-list {}

.main-list__el {}

.main-list__el:not(:last-child) {
    margin-bottom: 22rem;
}

.main-list__link {
    font-size: var(--fs-5);
    color: #9A9A9A;
    line-height: 1.5;
    font-family: var(--ff);
    text-transform: uppercase;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown__main-list {
    margin-right: 69rem !important  ;
}

.dropdown__list:not(:last-child) {
    margin-right: auto;
}

.dropdown__el:not(:last-child) {
    margin-bottom: 18rem;
}

.dropdown__link {
    display: block;
    width: 100%;
    text-align: left;
    font-size: var(--fs-7);
    color: var(--color-black);
    font-style: normal;
    font-weight: 300;
    line-height: 166.188%;
    transition: all .4s;
}

.dropdown__link:hover {
    color: var(--color-accent);
    font-weight: 700;
}

.dropdown__list {}

.dropdown__list:last-child {
    margin-left: 13rem;
}

.dropdown__picture {
    margin: 46rem 0 -12px 103rem;
    flex: 0 0 197rem;
    width: 197rem;
}

.dropdown__img {
    display: block;
    width: 100%;
    height: 100%;
}

.select-box__input-icon {
    display: block;
    width: 20rem;
    height: 20rem;
    fill: var(--color-black);
    position: relative;
    top: -1rem;
    left: 2rem;
}

/* site
=====================*/
.site {
    height: 10000rem;
}

.site__header {
}

/* header
=====================*/

.header {
    padding: 22rem 0;
    background: var(--color-white);
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    opacity: 1;
    height: 99rem;
    display: flex;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__mob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 184rem;
    height: 48rem;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 184rem;
    height: 48rem;
    z-index: 1000;
}

.header__nav {}

.header__action {
    display: flex;
    align-items: center;
}

.header__action > .header__action-el:not(:first-child) {
    margin-left: 20rem;
}

.header__action-el {
    display: inline-flex;
    align-items: center;
}

.header__action-search {}

.header__form-results {}

.header__phone {
    font-size: 16rem;
    margin-bottom: -2rem;
}

.header__form {}

.header__basket {
    margin-left: 10rem;
}